// VARIABLES

@use "./partials/variables.scss" as *;

// MIXINS

@use "./partials/mixins.scss" as *;

img {
  width: 100%;
}

* {
  // font-family: "Rambla", sans-serif;
  font-family: "Saira Condensed", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul > li {
  list-style: none;
}
